@import 'mixins';
@import 'shared';
@import 'vars';

.ticket {
  padding-top: 88px;
  display: flex;
  position: relative;
  flex-direction: row-reverse;
  width: 100%;
}

.wrapper {
  padding-right: 34px;
}

.title {
    @extend .title-regular;
    padding-bottom: 35px;
}

.text {
  padding-bottom: 43px;
}

.samokat {
  @include img(800px, 800px, cover, center);
  position: absolute;
  top: -47px;
  left: -269px;
}

.button {
  width: 281px;
}

.spinner {
  @include background(550px, 550px, url(../../assets/spinnerbottom.png));
  position: absolute;
  top: 300px;
  left: 150px;
  animation: rotation 60s linear infinite;
}

@keyframes rotation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media screen and (max-width: $tablet) {

}

@media screen and (max-width: $mobile) {
  .ticket {
    flex-direction: column-reverse;
    padding-top: 0px;
  }

  .wrapper {
    padding-top: 370px;
  }

  .samokat {
    width: 550px;
    height: 550px;
    left: -42%;
    top: -8%;
  }
  
  .title {
    padding-bottom: 21px;
  }

  .text {
    padding-bottom: 30px;
  }

  .button {
    width: 311px;
    height: 49px;
  }

  .spinner {
    width: 350px;
    height: 350px;
    top: 180px;
    left: 50%;
  }
}

@media screen and (max-width: 330px) {
  .samokat {
    left: -60%;
  }
}