@import "mixins";
@import "vars";

.img {
  height: 344px;
  border-radius: 15%;
}

.wrapper {
  width: calc(100% + 50px);
}

.controls {
  display: flex;
  position: absolute;
  bottom: -20%;
  left: 31vw;
  gap: 0 12px;
  z-index: 1;
}

.button1 {
  @include background(48px, 48px, url(../../assets/left.svg));
  border-radius: 50%;
  cursor: pointer;

  &:active {
    animation: pulse 1s infinite;
  }
}

.button2 {
  @include background(48px, 48px, url(../../assets/right.svg));
  border-radius: 50%;
  cursor: pointer;

  &:active {
    animation: pulse 1s infinite;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 380px) {
  .wrapper {
    margin-left: -15px;
  }


}

@media screen and (max-width: 330px) {
   .img {
    height: 280px;
  }
}
 