@import "mixins";
@import "shared";
@import "vars";

.wrapper {
  position: relative;
}

.main {
  max-width: 410px;
}

.subtitle {
  @include text-regular("");
  max-width: 410px;
}

@media screen and (max-width: $mobile) {
  .main {
    max-width: 320px;
  }
}
