@import "./scss/_mixins.scss";
@import "./scss/_vars.scss";

.container {
  padding: 125px 0;
  max-width: 918px;
  min-width: 256px;
  margin: auto;
  position: relative;

  @media screen and (max-width: $middle) {
    padding: 125px 0;
    max-width: calc(100vw - 15vw);
  }

  @media screen and (max-width: $tablet) {
  }

  @media screen and (max-width: $mobile) {
    padding: 32px 0 72px 0;
    margin: 0 32px;
  }
}

.content {
  max-width: 1440px;
  min-width: 320px;
  margin: auto;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 320px;
    height: 804px;
    background-color: #f0f0f0;
    background: linear-gradient(to bottom, #ffe2e0, #c4a0f6, #e3e6fe, white);
    z-index: -1;
  }
}
