@import "mixins";
@import "vars";

.exclusive {
  padding-top: 122px;
}

.title {
  @include text-title(none, 48px, -0.96px);
  padding-bottom: 35px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 600px;
}

@media screen and (max-width: $tablet) {
  .text {
    width: 300px;
  }
}

@media screen and (max-width: $mobile) {
  .exclusive {
    padding-top: 66px;
  }

  .title {
    width: 200px;
    padding-bottom: 22px;
  }

  .text {
    width: 300px;
  }
}

@media screen and (max-width: 330px) {
  .text {
    width: 270px;
  }
}
